<section class="content">
    <div class="block-content">
        <h3 class="block-title">Portafolio</h3>
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="filters">
                    <span>Filters :</span>
                    <ul id="filters">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".artwork">Art Work</li>
                        <li data-filter=".webdesign">Web Design</li>
                        <li data-filter=".design">Design</li>
                    </ul>
                </div> -->
                <div class="portfolio-container row isotope" id="portfolio-container">
                    <!-- WORK 1 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                        <a target="_blank" href="https://angelrosalesportafolio.firebaseapp.com/">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>TIC TAC TOE</h2>
                                        <hr>
                                        <p>Dedicado a mi hijo :-)</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\masonry\001.jpeg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 1 END -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                        <a target="_blank" href="https://crud-contacts-c985e.web.app/dashboard/">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>Ejemplo de CRUD</h2>
                                        <hr>
                                        <p>Ejemplo de un CRUD simple con formulario reactivo</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\masonry\003.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                        <a target="_blank" href="https://login-arj.web.app/">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>Ejemplo de LOGIN</h2>
                                        <hr>
                                        <p>Ejemplo de un LOGIN simple con formulario reactivo</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\masonry\004.jpeg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 2 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
                        <a target="_blank" href="https://convex-hull-c2ac4.web.app/">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2> CONVEX HULL</h2>
                                        <hr>
                                        <p>Dado un conjunto de coordenadas retorna los vértices de el polígono que las contiene.</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\masonry\002.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
                        <a class="open-project" href="project-2.html">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>RUTEO</h2>
                                        <hr>
                                        <p>Dado un conjunto de coordenadas retorna la ruta óptima para su recorrido.</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\masonry\000.jpeg" alt="">
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 btn-email">
            <!-- <a class="btn lowercase">shout@james.com</a> -->
        </div>
    </div>
</section>